{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h2 class="mt-4 mb-4 border-bottom pb-2">
    Lista de Cidades
</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Estado</th>
            <th>Habitantes</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>

        {% for cidade in object_list %}
        <tr>
            <td>{{cidade.pk}}</td>
            <td>{{cidade.nome}}</td>
            <td>{{cidade.estado}}</td>
            <td>{{cidade.habitantes}}</td>
            <td>
                <a href="{% url 'editar-cidade' cidade.pk %}" class="btn btn-warning btn-sm">Editar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="100%">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
        
    </tbody>

</table>

{% endblock %}